[data-theme="light"] {
  --bg-color: #eee;
  --primary-color: #000;
  --secondary-color: #8c00ff;
  --inverted-bg-color: #1a1a1a;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #f50;
}